/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
# Python bytecode and shared libraries
output/target/usr/lib/python3.11/**/*.pyc
output/target/usr/lib/python3.11/**/__pycache__/
output/target/usr/lib/libpython3.11*
